<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="css/main.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
          integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <script src="https://cdn.jsdelivr.net/npm/vue/dist/vue.js"></script>
</head>
<body>
<main>
    <div class="container">
        <nav>
            <div class="nav-logo"><img src="img/logo.svg" alt="main logo item"></div>
            <div class="nav-items">
                <div class="col-6"><img src="img/search-13-32.png" alt="search icon"></div>
                <div class="col-6">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </nav>
        <div class="main-text">
            <h1>Strony www i sklepy internetowe.</h1>
            <p>Powstaliśmy, aby swoją pracą ustalać nowe standardy i rewolucjonizować branżę.
                Realizujemy swoje plany i marzenia, tworząc strony www i sklepy internetowe.</p>
        </div>
    </div>

</main>
<div class="sidebar-menu">
    <div class="container">
        <nav>
            <div class="nav-logo"><img src="img/logo.svg" alt="main logo item"></div>
            <div class="nav-items">
                <div class="col-6"><img src="img/search-13-32.png" alt="search icon"></div>
                <div class="col-6">
                    <div class="hamburger">
                        <span></span>
                        <span></span>
                        <span></span>
                    </div>
                </div>
            </div>
        </nav>
        <div class="content">
            <div class="row">
                <div class="col-4 content-items">
                    <ul>
                        <li>STRONA GŁÓWNA</li>
                        <li>O NAS</li>
                        <li>OFERTA <span class="cross" @click="changeStatement(1)">+</span></li>
                        <li>REALIZACJE</li>
                        <li>ARTYKUŁY <span class="cross" @click="changeStatement(2)">+</span></li>
                        <li>KONTAKT <span class="cross" @click="changeStatement(3)">+</span></li>
                    </ul>

                </div>
                <div class="col-8 content-description">
                    <transition name="fade">
                    <div v-if="state===1">
                        <h2>Oferta</h2>
                        <hr>
                        <div class="row">
                            <div class="card-container">Strony internetowe</div>
                            <div class="card-container">Sklepy internetowe</div>
                            <div class="card-container">Projektowanie graficzne</div>
                            <div class="card-container">Druk materiałow reklamowych</div>
                        </div>
                        <div class="row">
                            <div class="card-container">Prezentacje i animacje 2D</div>
                            <div class="card-container">Copywriting</div>
                        </div>
                    </div>
                    <div v-else-if="state===2">
                        <h2>Artykuły</h2>
                        <hr>
                        <div class="row">
                            <div class="card-container">Strony internetowe</div>
                            <div class="card-container">Sklepy internetowe</div>
                            <div class="card-container">Projektowanie graficzne</div>
                            <div class="card-container">Druk materiałow reklamowych</div>
                        </div>
                        <div class="row">
                            <div class="card-container">Prezentacje i animacje 2D</div>
                            <div class="card-container">Copywriting</div>
                        </div>
                    </div>
                    <div v-else-if="state===3" class="contact">
                        <h2>Kontakt</h2>
                        <hr>
                        <h3>Wyślij nam wiadomość</h3>
                        <form>
                            <div class="form-group row">
                                <label for="inputNameAndSurname" class="col-sm-3 col-form-label">Imię i nazwisko*</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputNameAndSurname" v-model="form.name" >
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputPassword" class="col-sm-3 col-form-label" >Adres email*</label>
                                <div class="col-sm-9">
                                    <input type="password" class="form-control" id="inputPassword" v-model="form.password">
                                </div>
                            </div>
                            <div class="form-group row">
                                <label for="inputContent" class="col-sm-3 col-form-label">Treść</label>
                                <div class="col-sm-9">
                                    <input type="text" class="form-control" id="inputContent" v-model="form.content">
                                </div>
                            </div>
                        </form>
                        <div class="row">
                            <div class="col-8">
                                <div class="private-control">
                                    <input type="checkbox" class="private-checkbox">
                                    <span class="checkbox-custom"></span>
                                    <div class="private-text">Wyrażam zgodę na otrzymywanie od Volkswagen Group Polska sp. z o.o. z siedzibą w Poznaniu informacji handlowych za pośrednictwem środków komunikacji elektronicznej.</div>
                                </div>
                                <div class="private-control">
                                    <input type="checkbox" class="private-checkbox">
                                    <span class="checkbox-custom-1"></span>
                                    <div class="private-text">Wyrażam zgodę na przetwarzanie moich danych osobowych przez Volkswagen Group Polska sp. z o.o. z siedzibą w Poznaniu w celach marketingowych.</div>
                                </div>
                            </div>
                            <div class="col-4 ">
                                <button class="form-button">WYŚLIJ</button>
                            </div>
                        </div>
                        </div>
                    </transition>
                    </div>
                </div>
            </div>
        </div>
    </div>

</div>

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
<script src="js/main.js"></script>
</body>
</html>
